name: sbb_maps_example
description: Example app for the sbb_maps_flutter package.
publish_to: "none"
version: 2.7.0+9008 # automatically set by GH Action 

environment:
  sdk: ">=3.8.0 <4.0.0"
  flutter: ">=3.32.0"

dependencies:
  flutter:
    sdk: flutter

  sbb_maps_flutter:
    path: ../
  # https://pub.dev/packages/sbb_design_system_mobile
  sbb_design_system_mobile: ^4.3.0
  # https://pub.dev/packages/envied
  envied: ^1.3.1
  # https://pub.dev/packages/provider
  provider: ^6.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  # https://pub.dev/packages/envied_generator
  envied_generator: ^1.3.1
  # https://pub.dev/packages/build_runner
  build_runner: ^2.10.4
  # https://pub.dev/packages/flutter_launcher_icons
  flutter_launcher_icons: ^0.14.1
  # https://pub.dev/packages/flutter_lints
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/custom_icons/
